{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'Index' %}">Subjects</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new Subject</li>
    </ol>
  </nav>
  <h2 class="mb-3">Add new Subject</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'Index' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
